:not(:defined) {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
    html.mdui-theme-auto {
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    }
}

@media (prefers-color-scheme: dark) {
    html.mdui-theme-auto {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
}

html, body {
    margin: 0;
}

input.file-input {
    display: none;
}

div#empty-icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

mdui-icon#empty-icon {
    font-size: 4em;
    color: rgb(var(--mdui-color-surface-variant));
}

div.lyric-line {
    padding: 1em 1.4em;
}

mdui-chip.lyric-item {
    margin: .2em .4em;
    font-weight: ragular;
}

mdui-chip:not([loading])::part(button) {
    padding: 2px;
}

mdui-slider#controller-progress {
    position: fixed;
    bottom: calc(5rem - 1.25rem);
    width: calc(100vw - 2rem - 1rem * 2);
    padding: 0;
    margin: 0 1rem;
}

mdui-slider.speed {
    width: calc(100% - 1rem);
    margin: 2rem .5rem 0 .5rem;
}

div.app-bar-blank {
    flex-grow: 1;
}